<div>
    <div class = "search-area">
        <div class="search-bar">
            <%= search_form_for(@query) do |f| %>
            <%= f.search_field :title_cont_any, placeholder: "Search...", class: 'search-bar-input'%>
        </div>
        <div class="search-bar">
            <%= f.submit "Search!"%>
            <% end %>
        </div>
      <% if @art.present? %>
        <div class="search-bar-results"> 
        <h4><%= pluralize(@art.count, 'Result')%></h4> 

          <% @art.order(:title).each do |service|%>
          <p>
            <%= link_to service.title, service_path(service) %>
          </p>
          <br/>
          <%end%>
        </div>
      <%end%>
    </div>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <% @services.each do |service| %>
            <tr>
                <td>
                    <%= link_to service.title.truncate(100), service_path(service) %>
                </td>
                <td>
                    <%= service.description.truncate(100) %>
                </td>
            </tr>
        <% end %>
        
        <% if @services.size < 10 %>
            <% (10 - @services.size).times do %>
                <tr>
                    <td> . </td>
                    <td> . </td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>

      <div>
        <%= will_paginate @services, 
          class: 'pagination', 
            previous_label: 'Previous', 
            next_label: 'Next', 
            inner_window: 5, 
            outer_window: 1,  
            page_links: true, 
            params: { controller: 'services', action: 'index' } %>
      </div>
</div>