<div class='new-article-container'>
    <h3>New Service</h3>
    <%= render 'shared/error_messages', object: @service %>
    <%= form_with model: @service, data: { turbo: "false"} do |f|%>

        <div>
            <%= f.text_field :title, placeholder: 'Title'%>
        </div>
        <div>
            <%= f.text_field :description, placeholder: 'Description'%>
        </div>
        <div>
            <%= f.text_field :url, placeholder: 'url'%>
        </div>
        <div class="file-and-update">
            <div class="update-button">
            <%= f.submit "submit", method: :post %>
            </div>
        </div>
    <% end %>
</div>