
<div class='signup-container'>
<%= render 'shared/error_messages', object: @admin %>
    <%= form_with model: @admin, data: {turbo: "false"} do |f|%>
        <div>
            <%= f.label :name%>
            <%= f.text_field :name, placeholder: @admin.name%>
        </div>
        <div>
            <%= f.label :email%>
            <%= f.text_field :email, placeholder: @admin.email%>
        </div>
        <div>
            <%= f.label :password%>
            <%= f.password_field :password, placeholder: "change a password"%>
        </div>
        <div>
            <%= f.label :confirm_password %>
            <%= f.password_field :confirm_password, placeholder: 'make sure passwords match' %>
        </div>
        <div>
            <%= f.file_field :photo, placeholder: 'upload a photo' %>
        </div>
        <%= f.submit "Update!"%>
    <%end%>
</div>