
<div class="profile-container">
    <div class = "profile-items">
        <div class= 'profile-photo'><%= image_tag(@admin.photo.url) if @admin.photo? %> </div>
        <h2  class='profile-name'><%= @admin.name%></h2>
    </div>
<table >
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <%@articles_ordered = @articles.order(created_at: :desc)%>
        <% @articles_ordered.each do |article| %>
            <tr>
                <td>
                    <%= link_to article.title.truncate(100), article_path(article) %>
                </td>
                <td>
                    <%= article.description.truncate(100) %>
                </td>
            </tr>
        <% end %>
        <% articles_on_current_page = @articles_ordered.size %>
            <% total_rows_required = 6 %>        
        <% if articles_on_current_page < total_rows_required && (@articles_ordered.current_page == @articles_ordered.total_pages || @articles_ordered.total_pages == 1) %>
            <% (total_rows_required - articles_on_current_page).times do %>
                <tr>
                    <td>. </td>
                    <td>. </td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>

<div>
    <%= will_paginate @articles,
    class: 'pagination',
    previous_label: 'Previous',
    next_label: 'Next',
    inner_window: '5',
    outer_window: '1',
    page_links: true,
    params: {controller: 'admins', action: 'show'}
    %>
</div>

    <div>
    <%= link_to 'edit profile', edit_admin_path, method: :get, class: ' btn btn-edit' %>
    </div>
</div>




