<h1> here we edit the article </h1>


    
<%=  form_with model: @article do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_area :title, placeholder: "title" %>
    </div>
    <div>
        <%= f.label :body %>
        <%= f.text_area :body, placeholder: "body" %>
    </div>
    <div class="form-group mt-3 container-sm">
        <%= f.submit "Update" %>
    </div>
<% end %>
   
