
<div class='new-article-container'>
    <h3>!!Edit : <%= @article.title %></h3>
    <%= render 'shared/error_messages', object: @article %>
    <%= form_with model: @article, data: { turbo: "false" }  do |f| %>
        <div>
            <%= f.label :title %>
            <%= f.text_field :title, placeholder: "title" %>
        </div>
        <div>
            <%= f.label :description %>
            <%= f.text_field :description, placeholder: "body" %>
        </div>

        <div>
            <%= f.label :body %>
            <%= f.text_area :body, placeholder: "body" %>
        </div>
        <div class="file-and-update">
            <div class="file-input">
                <%= f.file_field :photo, placeholder: 'upload a photo'%>
            </div>
            
            <div class="update-button">
                <%= f.submit "Update" %>
            </div>
         </div>
    <% end %>
</div>
