<div class='new-article-container'>
    <h3>New Article</h3>
    <%= form_with model: @article do |f|%>
        <div>
            <%= f.text_field :title, placeholder: 'Title'%>
        </div>
        <div>
            <%= f.text_field :description, placeholder: 'Subtitle'%>
        </div>
        <div>
            <%= f.text_area :body, placeholder: 'Body'%>
        </div>
        <div class="file-and-update">
            <div class="file-input">
                <%= f.file_field :photo, placeholder: 'upload a photo'%>
            </div>
            <div class="update-button">
            <%= f.submit "submit your article", method: :post %>
            </div>
        </div>
    <% end %>
</div>