<%# <div class = 'container'> %>
    <div class="article-container">
        <h1 class="article-title"><%= @article.title %></h1>
        <h3 class="article-description"><%= @article.description %></h3>

        <div class="article-body">
            <% if @article.photo? %>
                <div class="article-image">
                    <%= image_tag(@article.photo.url) %>
                </div>
            <% end %>
            <%= @article.body %>
        </div>
        
        
        <div class="article-author">
            <p>This article was written by <span><%= @admin.name %></span></p>
        </div>
        
        <div class="article-actions" >
            <button><%= link_to 'Edit', edit_article_path(@article.id), method: :get, class: "btn btn-link" %></button>
            <%= button_to 'Destroy', article_path(@article.id), method: :delete, class: "btn btn-destroy" %>
        </div>
        <br/>
    </div>
<%# </div> %>
