<%# <div class = 'container'> %>
    
<div class="article-body">
        <h1 class="article-title"><%= @article.title %></h1>
        <h3 class="article-description"><%= @article.description %></h3>
        <div class = 'article-contents'>
            <% if @article.photo? %>
                    <%= image_tag(@article.photo.url) %>
            <% end %>
            <p><%= @article.body %></p>
        </div>
        <div class="article-author">
            <p>This article was written by <span><%= @admin.name %></span></p>
        </div>

    <div class="article-actions" >
        <% if current_admin.present? %>
            <%= link_to 'edit article', edit_article_path(@article.id), method: :get, class: "btn btn-edit" %>
            
            <%= button_to 'Destroy', article_path(@article.id), method: :delete, class: "btn btn-destroy" %>
        <%end%>
     </div>
</div>



