<%= @article.title %>
<br/>
<%= @article.description %>
<br/>

<%= @article.body %>
<br/>

<%= image_tag(@article.photo.url) if @article.photo? %>
<br/>
<p>this article was written by</p><%= @admin.name %>
