<table>
    <thead>
        <tr>
            <th>Article</th>
            <th>Service</th>
            <th>Action</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        <% @logs_ordered = @logs.order(created_at: :desc)%>
        <% @logs_ordered.each do |log| %>
            <% article = log.article %>
            <% article_title = log.article_title %>
            <% service = log.service %>
            <% service_title = log.service_title %>
            <tr>
                <td>    
                    <% if article.present? %>
                        <%= link_to article.title.truncate(40), article_path(article) %>
                    <% else %>
                        <%= article_title %> 
                    <% end %>
                </td>
                <td>
                    <% if service.present? %>
                        <%= link_to service.title.truncate(30), service_path(service) %>
                    <% else %>
                        <%= service_title %> 
                    <% end %>
                </td>
                <td>
                    <%= log.action %>
                </td>
                <td>
                    <%= log.created_at %>
                </td>
            </tr>
        <% end %>
        <% logs_on_current_page = @logs_ordered.size %>
        <% total_rows_required = 13%>

        <% if logs_on_current_page < total_rows_required && (@logs_ordered.current_page == @logs_ordered.total_pages ||@logs_ordered.total_pages == 1) %>
            <% (total_rows_required - logs_on_current_page).times do %>
                <tr>
                    <td>. </td>
                    <td>. </td>
                    <td>. </td>
                    <td>. </td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>

<div>
    <%= will_paginate @logs,
    class: 'pagination',
    previous_label: 'Previous',
    next_label: 'Next',
    inner_window: '5',
    outer_window: '5',
    page_links: true
    %>
</div>
