<table>
    <thead>
        <tr>
            <th>
                Article
            </th>
            <th>
                Action
            </th>
            <th>
                Admin 
            </th>
            <th>
                Timestamp
            </th>
        <tr>
    </thead>
<% @logs.each do |log|%>
<% admin = log.admin %>
<% article = log.article %>
<% article_title = log.article_title %>
    <tbody>
        <tr>
            <th>    
            <% if article.present? %>
                <%= link_to article.title, article_path(article) %>
                <% else %>
                    <%= article_title %> 
            <% end %>

            </th>
            <th>
                <%= log.action  %>
            </th>
            <th>
                <%= admin.name %>
            </th>
            <th>
                <%= log.created_at %>
            </th>
        </tr>
    </tbody>
<%end%>
</table>