<!DOCTYPE html>
<html>
  <head>
    <title>AfcMobileAdmin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1><%= link_to "American Family Care", root_path, class:'site-header' %> </h1>
      <br/>
    <div class='container'>
      <div class='button-container' >
        <h2 class="mobile-app-ladning"> Mobile App Admin</h2>
        <button><%= link_to 'articles', articles_path, class: 'btn-link' %> </button>
        <button><%= link_to "Sign in", login_path, class: 'btn-link' %></button>
        <br/>
        <% if current_admin.present? %>
        <%= button_to "Profile", admin_path(@current_admin), method: :get %>
        <% end %>
        <%= yield %> 
      </div>
    </div>
  </body>

</html>
