<!DOCTYPE html>
<html>
  <head>
    <title>AfcMobileAdmin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>American Family Care <h1>
    <h2> mobile app admin<h2>
    <button> <%= link_to 'articles', articles_path %> </button>
    <button> sign in</button>
    <%= yield %>
  </body>
</html>
